<template>
  <v-app class="main">



    <!-- <template> -->
<div class="calendar">
  <v-layout row >
    <v-flex md12 lg4>
      <v-date-picker v-model="picker" ></v-date-picker>
    </v-flex>
  </v-layout>
</div>
    <!-- {{ d.getDate() + ' ' + d.getMonth() + ' ' + d.getFullYear()  }} -->
    <form class="form-control" v-if="!formSubmitted">
      <legend>Members Only.</legend>
      <p>Booking allowed for the next 30 days. Next 7-10 days is unlikely to be available due to limited seats but  worth a try. Add-on to existing booking is always welcome with 2 working days' notice.</p>
      <!-- {{ picker | formatDate }} -->

      <div class="form-group">
        <label for="">Date: <span :class="">{{ picker | formatDate }}</span> <span :class="{nodate : nodate}" >{{ noDate }}</span></label>
      </div>
      <div class="form-group">
        <input type="text" :placeholder="reqPost" name="" :class="{ errors : errorPost}"
        @keydown="clearPost" ref="postcode" v-model="book.postcode"
        @keyup="" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" :placeholder="reqDOB" name="" :class="{ errors : errorDOB}"
        @keydown="clearDOB" v-model="book.dob"
        @keyup="" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" placeholder="other attendees if applicable"
        v-model="book.attendees" class="form-control">
      </div>

      <v-btn type="button" @click.prevent="check" class="btn btn-default">Submit</v-btn>
      {{ result }}

    </form>
    <form v-else>
      <p>Your booking for {{ book.date1 | formatDate }} has been submitted. You will hear back from Chloie in due course... meow!</p>
      <v-btn @click="formSubmitted = false">Start again</v-btn>
    </form>

<!-- <img src="../../src/assets/bg.png" alt=""> -->
  </v-app>
</template>

<script>
// import aside from './asides.vue'
// import data from './data.vue'
import post from './posts.vue'
export default {
  components: {
    // component: aside,
    // 'app-data': data,
    'app-post': post
  },
  data () {
    return {
        d: new Date(),
        formSubmitted: false,
        nodate: false,
        calErr: '',
        picker: null,
        picker2: null,
        // dateSet: this.$store.state.dateChosen,
        book: { "postcode":"", "dob": "", "attendees": "", "book":"", "date1" : ''},
        result: '',
        title: 'This is the starting page',
        e3: null,
        items: [
          { title: 'Home', icon: 'dashboard' },
          { title: 'About', icon: 'question_answer' }
        ],
        menu: false,
        modal: false,
        formatted: null,
        date: new Date(),
        error: false,
        reqPost: 'first half of your postcode',
        reqDOB: 'DOB (format DDMM eg 0112 for 1st Dec)',
        errorPost: false,
        errorDOB: false
    }
  },
  computed: {
    noDate() {
      return this.picker == null ? 'please choose a date' : '';
    },
    day() {
      return this.date.getDate();
    },
    month() {
      let month = this.date.getMonth() + 1;
      switch (month) {
        case 1:
          month = 'January';
          break;
        case 2:
          month = 'February';
          break;
        case 3:
          month = 'March';
          break;
        case 4:
          month = 'April';
          break;
        case 5:
          month = 'May';
          break;
        case 6:
          month = 'June';
          break;
        case 7:
          month = 'July';
          break;
        case 8:
          month = 'August';
          break;
        case 9:
          month = 'September';
          break;
        case 10:
          month = 'October';
          break;
        case 11:
          month = 'November';
          break;
        case 12:
          month = 'December';
          break;
      }
      return month;
    },
    year() {
      return this.date.getFullYear();
    }
  },
  methods: {
    check() {
      if(this.book.postcode  == '') {
        this.errorPost = true;
      }
        if(this.book.dob == '') {
        this.errorDOB = true;
      }
      if(!this.errorPost && !this.errorDOB && this.picker != null) {
        this.book.date1 = this.picker;
        this.$http.post(this.$store.state.url + 'bookingMailer', this.book).then(function(data){
          // console.log(data.body);
          // console.log(this.$store.state.url);
          // console.log(this.book);
          // console.log(data.bodyText.indexOf("Success"));
          if(data.bodyText.indexOf("Success") == 0) {
            // console.log('from success ' + data.bodyText);
            // this.result = "Your booking has been submitted. You'll hear back soon.";
            this.formSubmitted = true;
            // console.log('form submitted : ' + this.formSubmitted);
            // return this.result;
            // this.result = "Booking submitted successfully. You'll hear back soon.";
          } else {

            this.result = "You are not a member.";
            // console.log('from no success ' + data.body);
            // console.log('you are not a member.');
            return this.result;
          }
          // this.result = data.body;
            // this.result = "You are not registered.";

        });
      }
      else if(this.picker == null) {
        this.calErr = 'pls choose date.';
        this.nodate = true;
      }
        // this.reqPost = this.reqPost + ' required';
        // this.reqDOB = this.reqDOB + ' required';

    },
    clearPost() {
      this.errorPost = false;
      this.calErr = '';
      this.result = '';
    },
    clearDOB() {
      this.errorDOB = false;
      this.calErr = '';
      this.result = '';
    }
  },

  created() {
  }
}
</script>

<style lang="scss" scoped>
@import "../style";
.whiteText {
  color: #fff;
}
.main {
  // background: url("../../src/assets/bg.png") repeat;
}
.calendar {
  width: 290px; margin: 20px auto;
  border: 0px solid #ccc;
  table {
    border: 0px solid #000;
  }
}

a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
form {
  margin: 20px auto;
  width: 95%;
  @include breakpoint(650px) {
    width: 600px;
  }
}
// @include breakpoint(915px) {
//   .calendar {
//     @include span(12);
//     width: 230px;
//   }
//   form {
//     @include span(12 last)
//     width: 65%;
//   }
//
// }
#home2 {
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  // height: 300px;
}
.container2 {
  // @include push--auto(600px);



  background: pink;
  // display: flex;
  margin: auto;
  // flex: 1;
  // flex-direction: column;
  // main {
  //   margin: auto;
  //   flex: 2;
  // }
  // aside {
  //   flex: 1;
  //   margin: auto;
  // }
}

aside img {
  padding: 10px;
}
p {
  text-align: left;
}

.nodis {
  display: none;
}
section {
  // color: blue;
  p {
    padding-top: 20px;
    // color: red;
  }

}
.takeaway {
  padding-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.delivery {
  font-size: 3em;
  padding-top: 1px;
}
time {
    display: block;
    font-size: 18px;
}
.address {
    font-size: 18px;
    font-family: courier;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
a {
  color: #42b983;
}
@include breakpoint(800px) {
// @media only screen and (min-width: 640px) {
//
// #home {
//    @include push--auto(700px);
//    text-align: center;
//  }

 p {
  //  padding-left: 20px;
 }
}
table {
  border: 0px solid red;
}
.errors {
  border: 1px solid red;
}
.nodate {
  color: lighten(red, 20);
  font-style: italic;
}

</style>
