<template>
  <v-app>
    <br><br>
  <input class="form-control" type="text" v-model="search" value="search">
  <ul>
    <li v-for="data in filteredData"> {{ data.item }}
      <br>{{ data.category}}
      <br>{{ data.price}}
    </li>
  </ul>
  {{ this.$store.state.starters }}
    <ul>
      <li v-for="(v, k) in protocols">
          {{ k }}
        <ul>
          <li v-for="v2, k2 in v">
              {{ k2 }}
            <ul>
              <template v-for="v3, k3 in v2">
              <li v-if="k2 == 'config'" class="code">
                {{ v3 }}
              </li>
              <li v-else-if="k2 == 'naz'" class="naz">
                {{ v3 }}
              </li>
              <li v-else class="codes">
                {{ v3 }}
              </li>
              </template>
            </ul>
          </li>
        </ul>
      </li>
    </ul>


  </v-app>

</template>

<script>
// import starters from './mainData.vue'

export default {
  components: {
    // 'show-starters': starters
  },
  data () {
    return {
        // items: items
        title: 'This is Main',
        protocols: [],
        search: ''
    }
  },
  computed: {
    filteredData() {
      return this.$store.state.starters.filter((protocol) => {
        // return protocol.category.toLowerCase().match(this.search.toLowerCase()); //|| return protocol.item.toLowerCase().match(this.search.toLowerCase());;
        return protocol.item.toLowerCase().match(this.search.toLowerCase());
        // return protocol.price.match(this.search);
      });
    }
  },
  methods: {

  },

  created() {
  // created() {

    this.$http.get('https://nazs.net/GNS3/cisco_all.json').then(function(data){
      this.protocols = data.body;
      console.log(data.body);
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../style.scss";

.code {
  font-family: monospace;
  font-size: 1.3em;
}
.naz {
  font-family: 'courier';
  font-size: 1.1em;
  color: lighten(blue, 20);
}
ul {
  margin-top: 20px;
  li {
    font-weight: bold;
    font-size: 0.95em;
    // border: 1px solid $banner;
    background: #fff;
    border-radius: 15px;
    margin: 0 auto 20px;
    width: 90%;
    padding: 10px;

    ul {
      margin: 10px;
      border: 0px solid #999;
      li {
        padding: 0px;
        margin-bottom: 0px;
        border: 0px solid #999;
        // margin-left: 40px;
        font-weight: normal;
        ul{
          border: 0px solid #999;

        li {
          list-style-type: square;
          margin-left: 40px;
        }
      }
    }

    }
  }
  text-align: left;
  color: $banner;
  // display: inline-block;
  // margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
