<template>
  <div>
    <h3 >Test</h3>
    <div class="modal2" v-if="updated" @click="toggleUpdate">
      <div class="modalc">
        <p>Item <span class="updated">{{ updatedItem }}</span> has been updated successfully.</p>
        <span class="notice">(Click anywhere to dismiss message.)</span>
        <p>Meow</p>
        <!-- <img src="../assets/paws.png" alt=""> -->
        <img src="/admin/dist/paws.png" alt="">
      </div>
    </div>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Message</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>


      <button type="submit" class="btn btn-default">Submit</button>
      <button type="reset" class="btn btn-default" value="Reset">Reset</button>
    </form>
  </div>
</template>

<script>

export default {
  data () {
    return {
        title: 'Contact us',
        queries: {
          name1: '',
          message1: ''
        },
        updated: false
    }
  },
  methods: {
    toggleUpdate(item) {
      this.updated = !this.updated;
      this.updatedItem = item;
    },
    submitQuery() {
      // this.$http.post('https://bangkokpavilion.co.uk/posts', this.queries).then(function(data) {
      this.$http.post('http://localhost/nazs/posts', this.queries).then(function(data) {
        console.log(data.bodyText);
        // console.log(data.bodyText);
      // this.$http.post('http://jsonplaceholder.typicode.com/posts', {
      // this.$http.post('https://enquiries-5c860.firebaseio.com/posts.json', this.queries).then(function(data) {
        // console.log(data.body.name);
      });
    }
  },
  created() {
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

form {
  @include push--auto(300px);
  text-align: left;
}
@include breakpoint(720px) {
   form {
     @include push--auto(500px);
   }
 }
li {
  // display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
