<template>
  <div id="show-starters">

    <table>
      <tr>
        <th>Wines </th>
        <th>Description </th>
      </tr>
      <template v-for="wine in menus.wines2">
        <!-- <tr v-if="wine.category == 'wines'"> -->
        <tr>
          <td>{{ wine.item }} </td>
          <td>{{ wine.description }} </td>
          <td class="pound">&pound; {{ wine.price.toFixed(2) }} </td>
        </tr>
      </template>

    </table>

  </div>

</template>

<script>
export default {
  data() {
    return {
      menus : {
        wines2: [],
        wines: [
          {
            'name': 'chloie',
            'color': 'blue'
          },
          {
            'name': 'naz',
            'color': 'purple'
          }
        ]
      }
    }
  },
  methods: {

  },
  created() {

    // local DB
    // this.$http.get('http://localhost:80/bo_pav/all').then(function(data){
    this.$http.get('https://bangkokpavilion.co.uk/wines').then(function(data){
      this.menus.wines2 = data.body;
    });

  }
}
// https://jsonplaceholder.typicode.com
</script>

<style lang="scss" scoped>
table {
  margin-bottom: 10px;

  tr {
    vertical-align: top;
    td {
      padding: 0 15px;
    }
  }
}
#show-starters {
  text-align: left;
}
.pound {
  width: 60px;
  padding: 0 5px;
  text-align: right;
}
</style>
