<template>
  <div>
    <section>
      <span v-html="footer"></span>
    </section>
  </div>
</template>

<script>
// import starters from './menus.vue'

export default {
  components: {
  },
  data () {
    return {
        // items: items
        footer: '&#169; 2017 Resources and such..'
    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>

a {
  color: #42b983;
}
</style>
