<template>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.6333847725305!2d1.4006320157596472!3d51.22582897958988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47deaecf9db0a93f%3A0xfe914440a6b5f45f!2s114+High+St%2C+Deal+CT14!5e0!3m2!1sen!2suk!4v1498062611907" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <!-- to select alternate component interactively -->
    <!-- <keep-alive>
      <!-- <component v-bind:is="component"></component>
    </keep-alive> -->
    <!-- <button v-on:click="component='form-one'"></button> -->
    <!-- <button v-on:click="component='form-two'"></button> -->
    <!-- <p>Greeting: {{ greeting }}</p> -->
    <!-- <app-data></app-data> -->
  </div>
</template>

<script>
import aside from './asides.vue'
import data from './data.vue'
// import formOne from './form-one.vue'
// import formTwo from './form-two.vue'

export default {
  // props: ['greeting'],

  components: {
    component: aside,
    'app-data': data
    // 'form-one': formOne,
    // 'form-two': formTwo
  },
  data () {
    return {
        title: 'Locate us'
    }
  },
  methods: {

  },
  created() {
  }
}
</script>

<style lang="scss">
@import "../style.scss";

iframe {
  margin: 15px 0;
  width: 100%;
}
li {
  // display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
@include breakpoint(800px) {
  iframe {
    width: 95%;
  }
}
</style>
