<template>
  <v-app id="">
    <h4>Clone Stamp tool obsession</h4>

    <!-- <img src="/static/beach.jpg" alt="" @mouseover="swap(this)" ref="a">
    <img src="/static/cat.jpg" alt="">
    <img src="/static/dog-walker.jpg" alt="">
    <img src="/static/dog-shadow.jpg" alt="">
    <img src="/static/woman-at-a-beach.jpg" alt=""> -->

    <!-- @mouseover="swap()" -->

    <!-- @mouseover="img = naz1"
    @mouseout="img = naz" -->
    <img
    :src="img"
    /> <button type="button" name="button" @click="img = naz1"
    >Swap</button>


  </v-app>
</template>
<script>
// images: ["/static/beach", "/static/cat", "/static/dog-walker", "/static/dog-shadow", "/static/woman-at-a-beach"],
export default {
  data() {
    return {
        images: ["/static/beach.jpg", "/static/cat.jpg", "/static/dog-walker.jpg", "/static/dog-shadow.jpg", "/static/woman-at-a-beach.jpg"],
        naz: "/static/cat",
        naz1: "/static/cat1.jpg",
        img: "/static/cat.jpg"
    }
  },
  methods: {
    swap() {
      console.log(this.naz);
      // this.img = img + '1.jpg';
      // this.src="/static/cat.jpg";
    }
  }
}
</script>
<style lang="scss" scoped>
img {
  padding: 5px;
}
</style>
