<template>
  <div id="show-starters">
    <!-- <h2>Starters</h2> -->

    <table v-theme:column="'wide'">
      <tr>
        <th>Lunch Menus</th>
      </tr>
      <template v-for="lunch in lunches">
        <tr v-if="lunch.category == 'lunch menus'">
          <td>{{ lunch.item }} </td>
          <!-- <td>{{ lunch.description }} </td> -->
          <td class="pound">&pound; {{ lunch.price.toFixed(2) }} </td>
        </tr>
      </template>

    </table>



  </div>

</template>

<script>
export default {
  data() {
    return {
        lunches: []
    }
  },

  created() {

    // local DB
    this.$http.get('http://localhost/bo_pav/all').then(function(data){
      this.lunches = data.body;
    });

  }
}
// https://jsonplaceholder.typicode.com
</script>

<style lang="scss" scoped>
table {
  margin-bottom: 10px;

  tr {
    vertical-align: top;
    td {
      padding: 0 15px;
    }
  }
}
#show-starters {
  text-align: left;
}
.pound {
  width: 60px;
  padding: 0 5px;
  text-align: right;
}
</style>
