<template>
  <div>
    <div class="landing start">
        <div>
          <h4>Front-end web dev (base branch)</h4>
          <h5>flavoured with bespoke APIs</h5>
          <h6>
            <!-- <span @mouseover="parallax" @mouseout="hide"><i class="material-icons icon">info</i></span> -->
             Parallax... just when scrolling almost becomes a chore</h6>
        </div>
    </div>
    <template>
      <v-parallax src="/static/abst5.jpg"  height="20">
        <v-layout column align-center justify-center>
        </v-layout>
      </v-parallax>
      <!-- <section>
      </section> -->
      <v-parallax src="/static/amazing.jpg"  height="850">
        <v-layout column align-center justify-center>
          <!-- <h5 class="white--text">Members Only</h5> -->
          <app-booking></app-booking>
        </v-layout>
      </v-parallax>
      <v-parallax src="/static/abst5.jpg"  height="20">
        <v-layout column align-center justify-center>
        </v-layout>
      </v-parallax>
      <!-- <section></section> -->
      <v-parallax src="/static/france.jpg" height="250">
        <v-layout column align-center justify-center>
        </v-layout>
      </v-parallax>
      <div v-if="show" id="parallax">Parallax scrolling is a technique in computer graphics and web design, where background images move by the camera slower than foreground images, creating an illusion of depth in a 2D scene and adding to the immersion.</div>
    </template>
  </div>
</template>

<script>

import booking from './booking'

export default {
    components: {
        'app-booking': booking
    },
    data() {
      return {
        show: false
      }
    },
    methods: {
      parallax() {
        this.show = true;
      },
      hide() {
        this.show = false;
      }
    }
}
</script>

<style>
.start {
    background-image: url("/static/trees-7.jpg");
}
#parallax {
  display: block;
  width: 300px;
  position: absolute;
  right: 20px;
  top: 60px;
  color: #ddd;
  background: rgba(0,0,0, .3);
  border-radius: 7px;
  padding: 10px;
}
 i.icon {
  font-size: 2em;
}
</style>
