<template>
  <div id="app">
    <div class="wrapper">

      <nav>
        <ul :class="{ responsive : show }" @mouseOut="show = false">
          <li @click="show = false">
            <router-link to="/" exact>Home</router-link>
          </li>
          <li @click="show = false">
            <router-link to="/noRobots" exact>Contact</router-link>
          </li>
          <li @click="show = false">
            <router-link to="/sample" exact>Sample</router-link>
          </li>
          <li @click="show = false">
            <router-link to="/obsession" exact>Obsession</router-link>
          </li>
          <li class="icon2" ><a href="#" @click="show = !show">&#10070;</a></li>
        <!-- <router-link to="/noRobots" exact>Contact</router-link>
        <router-link to="/sample" exact>Sample</router-link> -->
        </ul>
      </nav>

      <router-view></router-view>

    </div>

      <footer>&#169; 2017 Nazs.Net | Resources and such... <span>aiming for the moon</span></footer>
  </div>

</template>

<script>
// import header from './components/header.vue'
// import footer from './components/footer.vue'
// import booking from './components/booking.vue'
// import start from './components/start.vue'
// import sample from './components/menus/restaurant.vue'
import {mapGetters} from 'vuex'
export default {
  components : {
    // 'app-header': header,
    // 'app-footer': footer,
    // 'app-booking': booking,
    // 'app-sample': sample
    // 'app-start': start
  },
  data () {
    return {
      show: false
    }
  },
  computed: {
    ...mapGetters([])
  },
  methods: {
    test: function() {
      this.title = 'New title'
    },
    logIn() {

    },
    getMenus() {
        var t = this.$store.state;
        this.$http.get(t.url + 'all').then(function(data){
          this.$store.commit('setMenus', data.body);
          // console.log(data.body);
      });
    }
  },
  created() {
    var t = this.$store.state;
    this.$store.commit('setUrl');
    this.getMenus();
  }
}
</script>

<style lang="scss">
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import '../node_modules/vuetify/dist/vuetify.min.css';
@import "style";
html, body, #app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
a.router-link-exact-active, a.router-link-exact-active li  {
  // default values -- $col: #fff, $bgcol: #cc
  @include exact-link;
  // border-radius: 4px;
}
.wrapper {
  flex: 1 0 auto;
  // display: flex;
  // flex-direction: column;
}
nav {
  background-color: #333;
  a {
    color: #fff;
    display: block;
    padding: 12px 25px;
    // margin: 0 10px;
    text-decoration: none;
    text-align: center;
    &:hover {
      // border-radius: 4px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      transition: background-color .3s;
    }
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
    // position: fixed;
    @media screen and (min-width: 668px) {

      // width: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; // only applies to the main axis
      // justify-content: center;
      li {
        // flex: 0 0 100px;
        letter-spacing: 10px;
        // width: 70px;
        &:last-child {
          display: none;
        }
      }
    }
    li {
        // display: none;
        @media screen and (max-width: 667px) {
          display: none;
          transition: 5s;
      }
    }
    li.icon2 {
      @media screen and (max-width: 667px) {
        display: block;
        transition: 5s;
        a {
          font-size: 2.3em;
          height: 45px;
          padding: 0px 0 0px;
          // line-height: 40px;
        }
      }
    }
  }
}

.responsive {
  // position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #333;
  li {
    display: block;
    transition:  5s;
  }
}
.start {
  padding-top: 40px;
}
.landing {
  h4, h5 {
    // letter-spacing: 12px!important;
    font-family: monospace;
  }
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  background-position: top center;
  div {
    // position: absolute;
    // top: 20%;
    padding: 10px 20px;
    background-color: rgba(0,0,0,.3);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  h4, h5 {
    letter-spacing: 5px;
  }
  h6 {
    font-family: Courier;
    font-size: 1.2em;
    letter-spacing: 0px;
  }
  h4, h5, h6 {
    color: #fff;
  }
}
section {
  height: 3vh;
  background: #000;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
footer {
  border-top: 2px solid #000;
  background: #333;
  color: #ccc;
  letter-spacing: 0px;
  padding: 1rem .9rem;
  line-height: 2.5em;
  font-family: monospace;
  text-align: center;
  transition: .9s;
  @include breakpoint(400px){
    letter-spacing: 2px;
    text-align: left;
    span {
      float: right;
    }
  }
  @include breakpoint(717px) {
    // transition: .9s;
  }
}
</style>
